.mainTopBoxProducts{
    background-color: rgb(20,20,20);
}

.mainBoxProductsHeadphones{
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2%;
} 
.mainBoxProductsHeadphones>div>div>div>p{
    text-align: start;
}
.mainBoxProductsHeadphones>div{
 margin: auto;
 border-radius: 15px;
 background-color: white;
 background-color: rgb(201, 189, 189);

}
.mainBoxProductsHeadphones>div>div>img{
   border-radius: 20px;
}
.mainBoxProductsHeadphones>div>div>div{
    margin: auto;
    text-align: center;
    box-shadow: red 2px 1px 3px 1px;
}
.mainBoxProductsHeadphonesBox>div>img{
    width: 80%;
    margin: auto;
    
}
.mainBoxProductsHeadphonesTitle{
    font-weight: 700;
    font-size: 18px;
}

.mainBoxProductsHeadphonesPriceBox{
    display: flex;
}
.mainBoxProductsHeadphonesPriceBox>p:nth-child(1){
    color: red;
    font-weight: 600;
    font-size: 19px;
}
.mainBoxProductsHeadphonesPriceBox>p:nth-child(2){
    color: gray;
}
.mainBoxProductsHeadphonesPriceBox>p:nth-child(2){
    padding-left: 15px;
}
.mainBoxProductsHeadphonesInsideBox{
    width: 90%;
    margin: auto;
    border: rgb(197, 170, 108);
    background-color: rgb(231, 228, 221);
    border-radius: 10px;
    padding: 10px;
}
.mainBoxProductsButton{
    background-color:rgb(255,0,0);
    color:white;
    border:none;
    padding:10px 35px;
    border-radius:5px;
    margin: 8px 74px;
}
.showMore{
    padding-left: 25%;
}
.mainBoxProductsButton:hover{
    background-color:rgb(190, 91, 14);
}

@media only screen and (max-width: 600px) {
    .mainBoxProductsHeadphones{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1%;
    } 
    .mainBoxProductsHeadphonesPriceBox>p:nth-child(2){
        padding-left: 1px;
    }
    .mainBoxProductsButton{
        background-color:rgb(255,0,0);
        color:white;
        border:none;
        padding:5px 15px;
        border-radius:5px;
        margin: 2px 40px;
    }
  }

  @media only screen and (min-width:600px) and (max-width: 800px) {
    .mainBoxProductsHeadphones{
        width: 90%;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1%;

    } 
    .mainBoxProductsHeadphonesPriceBox>p:nth-child(2){
        padding-left: 1px;
    }
    .mainBoxProductsButton{
        background-color:rgb(255,0,0);
        color:white;
        border:none;
        padding:5px 15px;
        border-radius:5px;
        margin: 2px 30px;
        
    }
  }
  